<div class="row-fluid">
  <div class="span10 offset1">
    <div style="float:left;padding-right:10px;"><%= gravatar_for current_user %></div>
    <h4><%= current_user.name %></h4>
    <%= current_user.email %><br />
    <% if current_user != nil %>
      <%= link_to "Edit user information", edit_user_path(current_user) %>
    <% end %>
  </div>
</div><br />