<% provide(:title, "Signup") %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="main span10 offset1">
      <h1>Sign Up</h1>
      <p>Find me in app/views/users/new.html.erb</p>
    </div>
  </div>
</div>
