<% provide(:title, @user.name) %>
<div class="container-fluid">
  <%= render 'users/user_header' %>
  <div class="row-fluid">
    <div class="span8 offset2">
      <h3>Short Links &nbsp;&nbsp;<%= link_to "New", new_link_path %></h3>
      <% if @user.links.any? %>
        <table class="table table-hover table-striped table-condensed links">
          <tr>
            <th>Short URL</th>
            <th>Long URL</th>
            <th style="text-align: center;">Total Clicks</th>
            <th>Last Visited</th>
            <%# <th>Date Created</th> %>
          </tr>
          <%= render @links %>
        </table>
        <span style="text-align: center"><%= will_paginate @links %></span>
      <% else %>
        <p>You haven't created any links yet.</p>
      <% end %>
    </div>
  </div>
</div>
