<% provide(:title, 'Welcome') %>
<div class="container">
  <div class="row-fluid">
    <div class="main span10 offset1 hero-unit">
      <h1>Welcome to Slinky!</h1><br />
      <p>Slinky is a web-application used to create short URLs and to save them for later use.</p><br />
      <%= link_to "Sign up now!", signup_path, {:class => 'btn btn-default btn-large'} %>
    </div>
  </div>
</div>

