<% provide(:title, 'Welcome') %>
<h1>Welcome to Slinky!</h1>
<p>Slinky is a web-application used to create short URLs and to save them for later use.</p>
<p>You can begin by <a href="#">signing up</a>!</p>
