<% provide(:title, '404') %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1 hidden-phone"></div>
    <div class="span10 main">
      <br />
      <h1>Oops, we couldn't find that page!</h1><br />
      <p>You may have mistyped the address or the page may have moved.</p>
      <p>Click <%= link_to "here", root_path %> to return to the homepage.</p>
    </div>
  </div>
</div>
