@import "bootstrap";

$btn-default: #005abf;

html, body {
  height: 100%;
  font-family: 'PT Sans Caption', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Lily Script One', cursive;
  font-size: 48px;
}

.hero-unit h1 {
  font-size: 48px;
}

a, a:visited {
  color: $btn-default;
}

a:hover {
  text-decoration: none;
  color: #003597;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -41px;
}

.main {
  text-align: center;

  label {
    text-align: left;
  }

}

#error {
  text-align: left;
  color: red;
  padding-top: 10px;

  ul {
    margin: 0 0 16px 16px;
    padding-left: 16px;
  }
}


.navbar-inner {
  background: #eee;
  border:none;
  box-shadow: none;
  border-radius:0;
  padding:15px 10px;
  font-family: 'Lily Script One', cursive;
  font-size: 32px;

  a:hover {
    color: black;
  }
}

.navbar .nav > li > a {
  color: #333;
  text-shadow: 0px 1px 3px #aaa;
  hover {
    color: black;
  }
}

.navbar-inner .brand {
  margin-left: 7%;
  font-family: 'Lily Script One', cursive;
  font-size: 48px;
  color: #005abf;
  text-shadow: 0px 1px 2px #aaa;
}

.navbar-inner > .brand > a:hover {
  color: white;
}

.footer {
  text-align: right;
  border-top: 1px solid #999;
  width: 100%;
  color: #333;
  margin: 0 auto -41px;
  padding: 10px 0px;
}

/* FORMS */



input {
  height: auto !important;
}

div .field_with_errors {
  display: inherit;
  width: inherit;
}

.form-horizontal {
  margin: 0 auto;
  max-width: 450px;

  .controls {
    margin-left: 110px;
  }

  .control-label {
    width: 100px;
  }
}


/* BUTTONS */
a.btn.btn-default {
  color: white;
}
.btn-default {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $btn-default;
  *background-color: $btn-default;
  background-image: -moz-linear-gradient(top, $btn-default, $btn-default);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($btn-default), to($btn-default));
  background-image: -webkit-linear-gradient(top, $btn-default, $btn-default);
  background-image: -o-linear-gradient(top, $btn-default, $btn-default);
  background-image: linear-gradient(to bottom, $btn-default, $btn-default);
  background-repeat: repeat-x;
  border-color: $btn-default $btn-default $btn-default;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003597', endColorstr='#ff003597', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-default:hover {
  background: $btn-default;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}



@media (max-width: 767px) {
  .navbar .brand {
    margin-left: 0px;
  }
}

@media (max-width: 480px ) {
  .form-horizontal label.control-label {
    text-align: left;
    float: left;
  }
}


@import "bootstrap-responsive";