$gridGutterWidth768: 10px;
$gridGutterWidth1200: 20px;
@import "bootstrap";

$btn-default: #116bd0;

h1, h2, h3, h4, h5 {
  padding: 0px;
  margin: 0 0 10px;
}

html {
  height: 100%;
}

body {
  background: url('/assets/bg.png') repeat;
  // background: #fcfcfc; /* Old browsers */
  // background: -moz-radial-gradient(center, ellipse cover,  #fcfcfc 0%, #eaeaea 63%, #e0e0e0 100%); /* FF3.6+ */
  // background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#fcfcfc), color-stop(63%,#eaeaea), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
  // background: -webkit-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#eaeaea 63%,#e0e0e0 100%); /* Chrome10+,Safari5.1+ */
  // background: -o-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#eaeaea 63%,#e0e0e0 100%); /* Opera 12+ */
  // background: -ms-radial-gradient(center, ellipse cover,  #fcfcfc 0%,#eaeaea 63%,#e0e0e0 100%); /* IE10+ */
  // background: radial-gradient(ellipse at center,  #fcfcfc 0%,#eaeaea 63%,#e0e0e0 100%); /* W3C */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e0e0e0',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Pacifico' !important;
  font-weight: normal;
  font-size: 48px;
  line-height: 50px;
  text-shadow: 0px 1px 2px #999;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

.masthead {
  padding: 50px 20px;
  margin: -20px 0 20px -20px;
  text-align: center;
  //border-bottom: 2px solid #ddd;
  h1 {
    font-size: 60px;
    line-height: 64px;
    text-shadow: 0px 1px 2px #bbb;
  }
}

.hero-unit {
  border-radius: 0px;
  background: none;
  padding: 10px;
}



a, a:visited {
  color: $btn-default;
}

a:hover {
  text-decoration: none;
  color: #003597;
}

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -41px;
}

.main {
  text-align: center;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 3px #ccc;
  label {
    text-align: left;
  }
}

.dashboard {
  min-height: 300px;
}

#arrow {
  margin-left:-48px;
  height: 96px;
  width: 96px;
}

#try-input {
  padding: 5px;
  margin-top: 35px;
  width: 300px;
  font-size: 28px;
  line-height: 42px ;
}

#try-button {
  margin-top: 35px;
  padding: 10px;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 26px;
}

#signup-button {
  width: 110px;
}

#login-button {
  width: 110px;
}

#checkmark {
  display: none;
  position: absolute;
  padding: 5px;
}

#error {
  text-align: left;
  color: red;
  padding-top: 10px;

  ul {
    margin: 0 0 16px 16px;
    padding-left: 16px;
  }
}

#sidebar .gravatar {
  padding: 5px;
  box-shadow: 1px 1px 4px #ccc;
  border: 1px solid #ddd;
}

.navbar-inner {
  background: #222;
  border: none;
  border-bottom: 3px solid $btn-default;
  box-shadow: 0px 0px 5px #999;
  border-radius:0;
  padding:15px 5px;
  font-size: 16px;
  /*border-bottom: 3px solid $btn-default;*/
  a:hover {
    color: $btn-default;
  }
}

.navbar .nav > li > a {
  color: #fff;
  text-shadow: 0px 1px 3px #000;
  &:hover {
    color: $btn-default;
  }
}
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: inherit;
  color: #ccc;
}

.dropdown-menu {
  min-width: 10px;
  padding: 5px 0px;
  margin: 0;
  list-style: none;
  text-align: left;
}

.navbar-inner .brand {
  margin-left: 7%;
  margin-top: -5px;
  font-family: 'Pacifico' !important;
  font-size: 42px;
  font-weight: normal;
  color: #eee;
  text-shadow: 0px 1px 2px #000;
}

.sidebar {
 text-align: left;
}

.gray {
  background: #f9f9f9;
}

.center {
  text-align: center;
}

.footer {
  text-align: right;
  border-top: 1px solid #999;
  width: 100%;
  color: #333;
  margin: 0 auto -41px -20px;
  padding: 10px 20px;
}

/* FORMS AND TABLES */

.table-hover tbody tr:hover td {
  background-color: #c9dbf5;
}

input {
  height: auto !important;
}

div .field_with_errors {
  display: inherit;
  width: inherit;
}

.form-horizontal {
  margin: 0 auto;
  max-width: 450px;

  .controls {
    margin-left:140px;
    text-align: left;
  }

  .control-label {
    font-size:16px;
    width: 120px;
  }

  div.control-group {
    padding: 0;
    margin-bottom: 30px;
  }
}

label.error {
  color: #910000;
  font-size: 12px;
  margin-bottom: -25px;
  padding-bottom: 0;
}

.pagination {
  margin: 0 auto;
  text-align: center;
}

.justified {
  text-align: justify;
}

/* BUTTONS */
a.btn {
  color: white;
}
.btn-default {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: $btn-default;
  *background-color: $btn-default;
  background-image: -moz-linear-gradient(top, $btn-default, $btn-default);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($btn-default), to($btn-default));
  background-image: -webkit-linear-gradient(top, $btn-default, $btn-default);
  background-image: -o-linear-gradient(top, $btn-default, $btn-default);
  background-image: linear-gradient(to bottom, $btn-default, $btn-default);
  background-repeat: repeat-x;
  border-color: $btn-default $btn-default $btn-default;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003597', endColorstr='#ff003597', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-default:hover {
  background: $btn-default;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


@import "bootstrap-responsive";

/* Media Queries */


@media (max-width: 767px) {
  .navbar .brand {
    margin-left: 0px;
  }

  .navbar {
    width: 100%;
  }

  div.navbar-inner {
    width: 100%;
    margin-left: -20px;
    padding: 15px 20px;
    margin-right: -10px;
  }

  .sidebar {
    text-align: center;

    img.gravatar {
      margin: 0 auto;
      text-align: center;
    }

    table {
      margin: 0 auto;
    }

  }

}

@media (max-width: 480px ) {

  .hero-unit {
    padding: 15px;
  }

  #arrow {
    margin-top: 10px;
    width: 70px;
    height: 70px;
  }

  #try-input {
    width: 200px;
    font-size: 20px;
    line-height: 20px;
    border-radius: 6px;
  }

  #try-button {
    display: block;
    margin: 10px auto 0;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 20px;
  }


  .form-horizontal {

    text-align: center;

    .control-group {
      width: auto;
    }
    .controls {
      text-align: center;
    }

    label.error {
      margin-bottom: -20px;
    }

    .control-group label.control-label {
      text-align: center;
      width: 100px;
      padding: 0px;
      margin: 0px auto;
    }
  }

  .form-horizontal .control-group {
    width: 100%;
    text-align: center;
  }
}




