<div class="container-fluid">
  <% if Rails.env.development? %>
    <div style="text-align: center;">
      <small>
        Development Environment - Parameters
      </small>
    </div>
    <%= debug(params)%>
  <% end %>
</div>