<div class="container-fluid">
  <div class="footer">
    <div class="muted" style="float:left;">&copy; Casey Scarborough 2013&nbsp;</div>
    <%=link_to "Home", root_path %> &middot; <%= link_to "Help" %>
  </div>
</div>