<div class="container-fluid">
  <div class="footer">
    <div style="text-align:left;float:left;"><%=link_to "Home", root_path %> &middot; <%= link_to "Help" %></div>
    &copy; Casey Scarborough 2013&nbsp;
  </div>
</div>