<nav class="navbar">
  <div class="navbar-inner">
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <a class="brand" href="/">Slinky</a>
    <div class="nav-collapse">
      <ul class="nav">
        <li>&nbsp;</li>
        <li><%= link_to "Home", '/' %></li>
      </ul>
      <ul class="nav pull-right">
        <% if signed_in? %>
          <li><%= link_to "Logout", logout_path%></li>
        <% else %>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>